<div class='nested-fields-container'>
  <%= builder.fields_for field_name do %>
    <div class="active-storage">
      <% if attachments.attached? && builder.object.persisted?  %>
        <% attachments.each do |attachment| %>
          <div class="active-storage__preview">
            <% if attachment.previewable? %>
              <%= link_to image_tag(main_app.url_for(attachment.preview(resize_to_limit: [300, 300])), class: "active-storage__image"),
                          main_app.rails_blob_path(attachment, disposition: "attachment") %>
            <% elsif attachment.variable? %>
              <%= link_to image_tag(main_app.url_for(attachment.variant(resize_to_limit: [300, 300])), class: "active-storage__image"),
                          main_app.rails_blob_path(attachment, disposition: "attachment") %>
            <% elsif attachment.persisted? %>
              <%= link_to main_app.rails_blob_path(attachment, disposition: "attachment"), class: "btn btn-info" do %>
                <i class="fa fa-download"></i>
                <span class="btn-label">Download <%= field_name %></span>
              <% end %>
              <div>
                <small><%= attachment.blob.filename %></small>
                <%= builder.check_box("delete_#{field_name}_#{attachment.blob_id.to_s.gsub('-', '')}", label: "Delete this #{field_name.to_s.singularize}") %>
              </div>
            <% else %>
              <small><%= attachment.blob.filename %></small>
            <% end %>
          </div>
          <hr>
        <% end %>
      <% end %>
    </div>

    <%= builder.raw_file_field(field_name, class: 'active-storage__field', multiple: true, direct_upload: true) %>
  <% end %>
</div>
